data/
__pycache__/
*.egg-info/
.pytest_cache/
*.pyc
.venv/
notes.md
.env
Stage2_Reproducible_Pipeline.pdf
jars/
presentation_script.md
logs/
Stage3_Build_Feature_Table_Revised.pdf
script_features.md
.claude/
README_V2.md